html {
    background-color: rgb(218, 233, 218);
    font-family:Arial, Helvetica, sans-serif;
    margin: 8px;
}

.top {
    display: flex;
    flex-direction: row;
}

.intro {
    width: 70%;
    padding: 15px;
}


.box {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
    padding: 10px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    min-width: 310px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.meal-image {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}

.meal-image2 {
    width: 300px;
    height: 300px;
}


.feedback {
    color: #ff1e00;
    font-weight: bold;
  }

.tag {
    font: bold 14px Arial;
    color: #333333;
    padding: 2px 5px 2px 5px;
}

.button {
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 5px 20px 5px 20px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
